<form class="form-horizontal" role="form">
    <fieldset>
        <legend>New item</legend>
        {{partial 'item.form'}}
    </fieldset>
</form>
<div class="btn-group">
    <button class="btn btn-large btn-primary" {{action 'create' content}}>Create</button>
    <button class="btn btn-large btn-danger" {{action 'cancel' content}}>Cancel</button>
</div>